* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vh; */
    height: 100vh;
    background: linear-gradient(
        to right,
        rgba(103, 210, 158, 0.75),
        rgba(56, 132, 207, 0.75)
    );
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    align-items: center;
}

.left, .right {
    height: 100vh;
    /* width: 50%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

h1 {
    display: flex;
    justify-content: center;
    position: absolute;
    align-self: flex-start;
    margin-top: 50px;
    color: #fff;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


/*medi*/
.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

.time-select,
  .sound-picker {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  

  .time-select button,
  .sound-picker button {
    color: white;
    width: 40%;
    height: 10%;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
  }
  
  .sound-picker button {
    border: none;
    height: 120px;
    width: 120px;
    padding: 30px;
    border-radius: 50%;
  }
  .sound-picker button:nth-child(1) {
    background: rgba(103, 210, 158);
  }
  .sound-picker button:nth-child(2) {
    background: #4972a1;
  }
  .sound-picker button:nth-child(3) {
    background: #a14f49;
  }
  .sound-picker button img {
    height: 100%;
  }
  
  .time-select button:hover {
    background: white;
    color: black;
  }
  
  .player-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  
  .player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
  }
  .player-container svg circle {
    transition: all 0.2s ease-in-out;
  }
  .time-display {
    color: white;
    position: absolute;
    font-size: 50px;
    bottom: 10%;
  }
  
  video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
  }
  
  .vid-container video {
    position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
    z-index : -1;
  }

  .play {
      position: absolute;
  }

  .replay {
      position: absolute;
      transform: translate(0, 200px);
  }